In [11]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder

In [12]:
file_path = r"C:\Users\user\Downloads\iris.csv"
iris = pd.read_csv(file_path)
iris.columns = ['petal-length', 'petal-width', 'sepal-length', 'sepal-width', 'class']
iris.head()

   petal-length  petal-width  sepal-length  sepal-width   class
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
x_input = iris[['petal-length', 'petal-width', 'sepal-length', 'sepal-width']]
label_encoder = LabelEncoder()
y_label = label_encoder.fit_transform(iris['class'])
print(x_input.shape,y_label.shape)

(150, 4) (150,)

In [14]:
X = tf.keras.layers.Input(shape=[4])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [37]:
model.fit(x_input, y_label, epochs=100, verbose=0)
model.fit(x_input, y_label, epochs=100, verbose=0)
model.fit(x_input,y_label, epochs=10)

Epoch 1/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 0.0582
Epoch 2/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 0.0741
Epoch 3/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.0747
Epoch 4/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0727
Epoch 5/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0609
Epoch 6/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0798
Epoch 7/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0761
Epoch 8/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.0584
Epoch 9/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.0658
Epoch 10/10
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0780

In [39]:
x_input

     petal-length  petal-width  sepal-length  sepal-width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [43]:
import numpy as np
model.predict(np.array([[1., 1., 1., 1.],
                        [2., 2., 2., 2.]]))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step

array([[1.2347485],
       [2.0606637]], dtype=float32)