In [2]:
import pandas as pd

In [3]:
# load data from files
file_path = r"C:\Users\user\Downloads\lemonade.csv"
lemonade = pd.read_csv(file_path)
file_path = r"C:\Users\user\Downloads\boston.csv"
boston = pd.read_csv(file_path)
file_path = r"C:\Users\user\Downloads\iris.csv"
iris = pd.read_csv(file_path)

In [4]:
# check the shape of data
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [5]:
# check column names of the data
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [6]:
# change columns names
lemonade.columns = ['temperature', 'sales']
iris.columns = ['petal-length', 'petal-width', 'sepal-length', 'sepal-width', 'class']

print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['temperature', 'sales'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['petal-length', 'petal-width', 'sepal-length', 'sepal-width', 'class'], dtype='object')

In [8]:
# separaate into independent and dependent variables

independent = lemonade[['temperature']]
dependent = lemonade[['sales']]
print(independent.shape, dependent.shape)
independent = boston[['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','b','lstat']]
dependent = boston[['medv']]
print(independent.shape, dependent.shape)
independent = iris[['petal-length', 'petal-width', 'sepal-length', 'sepal-width']]
dependent = iris[['class']]
print(independent.shape, dependent.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [11]:
lemonade.head()

   temperature  sales
0           20     40
1           21     42
2           22     44
3           23     46
4           24     48

In [12]:
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
iris.head()

   petal-length  petal-width  sepal-length  sepal-width   class
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa